@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-blue: #4d5cf8;
  --secondary-blue: #3644e0;
  --primary-gray: #707070;
  --secondary-gray: #c3c3c3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
