.input {
  color: var(primary-gray);
  height: 2rem;
  padding-inline: 0.8rem;
  border: 1px solid var(--primary-blue);
  border-radius: 6px;
  outline: none;
}

.input:focus {
  outline: 2px solid var(--primary-blue);
}
